In [1]:
from datetime import timedelta, datetime
from pathlib import Path

import pandas as pd

from scripts.utility import *
from scripts.dates import (
    summer_dates
    all_events,
)

# set data paths
preproc_path = "data/intermediate/preproc/"
nhood_path = "data/intermediate/nhood/"
finished_path = "data/finished/nhood/"

In [2]:
%load_ext autoreload
%autoreload 2

## Load stuff

In [3]:
# load data
location_df = pd.read_csv(preproc_path + "location.csv")

/Users/dmoton/opt/anaconda3/envs/geospatial/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
cost_all_df = location_df[['date', 'week', 'month', 'price', 'adjusted_price', 'security_deposit', 'cleaning_fee', 'transit']]
cost_trimmed_df = cost_all_df[
    cost_all_df['security_deposit'].notnull() &
    cost_all_df['cleaning_fee'].notnull() &
    cost_all_df['price'].notnull()
].reset_index()
# cost_meanprice_df = cost_trimmed_df.groupby(['week']).agg(
#     mean_price=('price', 'mean'),
#     mean_cleaning_fee=('cleaning_fee', 'mean'),
#     mean_security_dep =('security_deposit', 'mean')
# ).reset_index()

In [20]:
cost_trimmed_df

,index,date,week,month,price,adjusted_price,security_deposit,cleaning_fee,transit
0,0,2020-04-23,17,4,375.0,375.0,500.0,250.0,NaN
1,1,2020-04-23,17,4,200.0,200.0,200.0,40.0,NaN
2,2,2020-04-24,17,4,200.0,200.0,100.0,20.0,Car 2 go is in this neigborhood Bus is across ...
3,3,2020-04-25,17,4,200.0,200.0,300.0,120.0,The Metro bus transit center and downtown wate...
4,4,2020-04-26,17,4,200.0,200.0,400.0,95.0,The local Metro bus transit center is four min...
...,...,...,...,...,...,...,...,...,...
7232,7232,2020-08-19,34,8,99.0,99.0,100.0,55.0,NaN
7233,7233,2020-08-20,34,8,99.0,99.0,100.0,55.0,NaN
7234,7234,2020-08-21,34,8,99.0,99.0,100.0,55.0,NaN
7235,7235,2020-08-22,34,8,99.0,99.0,0.0,0.0,"Getting around is easy, there are red bikes re..."
7236,7236,2020-08-23,34,8,99.0,99.0,200.0,30.0,Major bus line within one block of property.

In [18]:
mean_prices
prices_byevent_df['annual'] = cost_trimmed_df['']
for event_name, event_dates in (all_events.items() + ):
    week_start = event_dates["week_start"] - 2
    week_end = event_dates["week_end"]
    event_slice_df = time_slice(
        cost_trimmed_df.set_index("week"), week_start, week_end
    ).reset_index()

170.44425087108013
159.54648526077096
171.06462585034015
169.0204081632653